<% provide(:title, "home") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %></title>
<meta name="keywords" content="test,html,css" />
</head>
<body>
<%= provide(:active, "home") %>
<%= render 'layouts/header' %>

<div class="row">

	<%=render 'layouts/we' %>
	
	<div class="col-5">
		<p class="header">Pipa Assosiation</p>
		<p class="main_text">What did the American Founders actually intend for the country, and does it even matter today? If America began as an idea, then what kind of idea? In a time of increasing turmoil over American history, politics, and society, Crossroads for Liberty: Recovering the Anti-Federalist Values of America’s First Constitution takes a surprising and thought-provoking look at the American Revolution, the Articles of Confederation, and the Constitution, and asks what we can learn from them.
			Author William Watkins casts a critical eye on conventional wisdom about the Articles of Confederation. 
		</p>
	</div>
	
	<div class="col-4">
	
		<%= image_tag "pipa.jpg", :class => "side" %>
	</div>
</div>

<div class="row">
	<a target="_blank" href="https://www.google.com/maps/place/5056+W+Running+Brook+Rd,+Columbia,+MD+21044/@39.2280678,-76.8735778,14.25z/data=!4m5!3m4!1s0x89b7df87acafbb37:0x8e77d553cec30567!8m2!3d39.2324563!4d-76.8630714">
	<div class="col-6">
		<%= image_tag "map.png", :class => "side" %>
	</div>
	</a>
	<div class="col-6 letters">
		
</div>
</body>
</html>

