<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @user.each do |u| %>
    <li class = "index">
      <%= gravatar_for u, size: 50 %>
      <%= link_to u.name, u, :class => "name" %>
      <% if current_user.admin? && !current_user?(u) %>
        <%= link_to "delete", u, method: :delete, data: {confirm: "Are You Sure?"} %>
    ` <% end %>
          </li>
  <% end %>
 
<%= will_paginate %>
</ul>