<ul class = "<%= get_color %>" >
	<!--<li class="left_side"><a id="active" class="top_bar" href="pipa_home.html">Home</a></li> -->
	<li class="left_side"><%= link_to "Home", root_path, id: @hash[:home]  %></li>
	<li class="left_side"><a class="top_bar" href="fail">Take Survey</a></li>
	<li class="left_side"><%= link_to "Contact", contact_path, id: @hash[:contact] %></li>
	<% if logged_in? %>
		<li class="right_side"> <%= link_to "Logout", logout_path, method: :delete, id: "" %> </li>
	<% else %>
		<li class="right_side"> <%= link_to "Login", login_path, id: @hash[:login] %> </li>
	<% end %>
</ul>
