<!DOCTYPE html>
<html>
  <head>
    <title>PipaAssociation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    <script>  
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
    </script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
