<!DOCTYPE html>
<html>
  <head>
    <title>PipaAssociation</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
      
    <script>  
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
    </script>
  </head>

  <body>
    <%= render 'layouts/header' %>
      <div class = "msg">
        <p id = "friend-popup"></p>
        <a class = "r_accept" id="game_accept"></a>
      </div>
    <%= yield %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
